{% extends 'base/base.html' %}
{% block content %}
<main class="main main--home-page">
    <section class="main--home-page__section presentation">
        <h1>Kevin Verquerre</h1>
        <h2>Developper Back-End</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
        </p>
    </section>
    <section class="main--home-page__section project-list">
        {% for project in projects %}
            {% include 'project/project_thumbnail.html' with project=project base_class='project-list__item' %}
        {% endfor %}
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <span class="techno">CSS</span>
            <span class="techno">Django REST Framework</span>
            <span class="techno">CSS</span>
            <span class="techno">CSS</span>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <span class="techno">css</span>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <div class="techno">css</div>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <div class="techno">css</div>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <div class="techno">css</div>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <div class="techno">css</div>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <div class="techno">css</div>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <div class="techno">css</div>
        </div>
        <div class="project-list__item project-thumbnail">
            <h3>Project title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odio id suscipit, repellat est voluptate perspiciatis omnis, consectetur nobis tempora doloremque sit dolore voluptatem harum, quod expedita. Asperiores, perspiciatis inventore!
            </p>
            <div class="techno">css</div>
        </div>
    </section>
</main>
{% endblock %}